@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

.about{
    background-color: #336d2b;
    color: #f2e181;
    padding-bottom: 10%;
}

.carousel {
    
    
}

.carousel img {
    
    transform: translateX(50%);
}

.about img{
    width: 50%;
    height: 20%;
    margin: auto;
    text-align: center;
}


.about h2 {
    color: #f2e181;
     font-family: 'JetBrains Mono', monospace;
     padding-left: 10%;
     padding-bottom: 1%;
}

.about h1 {
    font-family: 'Arvo', serif;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 3.5em;
    text-align: center;
    margin-left: 11%;
}


.about p{
    padding-left: 10%;
    color: whitesmoke;
    
}

.about article {
    background-color: #114c08;

    padding: 3%;
    padding-bottom: 10%;
}