@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.home-content{
    background-color: rgb(223, 219, 193);
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 10%;
    padding-top: 8%;
    margin-top: -3%;
    

}

.home h1{
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 3em;
    color: #114c08;
   /* border-bottom: 5px solid rgb(128, 79, 6);*/
    padding-bottom: 7%;
    
    
}



#scrolltext {
    color: #114c08;
    padding-bottom: 5%;
    font-family: 'JetBrains Mono', monospace;
    
    
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}


.home img {
    width:30%;
    margin-bottom: 10%;
}


.banner img {
    transform: translateX(4.7%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom:3%;
    margin-bottom: 0%;
    
}


p{
    font-family: 'JetBrains Mono', monospace;
}


