@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

footer {
  position:absolute;
  bottom:100;
  width:100%;
  background-color: rgb(128, 79, 6);
  text-align: right;
  color: #f2e181;
  font-family: 'Arvo', serif;
  padding-right: 5%;
  padding-bottom: 10%;
  
}

footer p{
  padding-top: 2.5%;
}


