.icons{
    z-index: 10;
    float: right;
    top: 55%;
    position: sticky;
    width: 15%;
    padding: 1%;
    margin-right: -6.5%;
    border-radius: 20px;
    background-color: rgb(218, 214, 214);
    
}

#github {
    width: 100px;
    color:rgb(44, 45, 46);

}

#linkedin{
    width: 100px;
    color:rgb(44, 98, 215);
}

